*.xcuserstategit rm --cached [Project Name].xcworkspace/xcuserdata/[User Name].xcuserdatad/UserInterfaceState.xcusersta
Dorocat.xcodeproj/xcuserdata/kimtaeyoon.xcuserdatad/xcschemes/xcschememanagement.plist
Dorocat.xcodeproj/project.xcworkspace/xcuserdata/kimtaeyoon.xcuserdatad/UserInterfaceState.xcuserstate
