<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhR3_MeWXBCgOwnQkKdDzWDxyHAuYZc-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>6108969081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tistory.arpple.Dorocat</string>
	<key>PROJECT_ID</key>
	<string>dorocat-de8db</string>
	<key>STORAGE_BUCKET</key>
	<string>dorocat-de8db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6108969081:ios:ea62150aef337e0807fca8</string>
</dict>
</plist>